<br>
<div class="container">
    <header class="blog-header lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-2 pt-1">
          {% if request.user.is_staff %}  
          <a class="btn btn-sm btn-outline-secondary" href=" {% url 'noticia' %} ">Gestion de noticias</a>
          {% endif %}
        </div>
        <div class="col-5 text-center">
          <a class="blog-header-logo text-dark" href="{% url 'home' %}"><h2>Newspaper</h2></a>
        </div>
        <div class="col-2 d-flex justify-content-end align-items-center justify-content-between">
          <p>bienvenido {{request.user}}</p>
          <a class="btn btn-outline-secondary" href="{% url 'logoutUser' %}">Logout</a>
        </div>
      </div>
    </header>
    <hr>
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
       
       
        <a class="p-2 link-secondary" href="{% url 'general' %}">General</a>
        <a class="p-2 link-secondary" href="{% url 'tecnologia' %}">Tecnologia</a>
        <a class="p-2 link-secondary" href="{% url 'cultura' %}">Cultura</a>
        <a class="p-2 link-secondary" href="{% url 'negocio' %}">Negocio</a>
        <a class="p-2 link-secondary" href="{% url 'ciencia' %}">Ciencia</a>
        <a class="p-2 link-secondary" href="{% url 'salud' %}">Salud</a>
        
        
      </nav>
    </div>
  </div>