{% extends 'sistnews/tablero.html' %}
{% load crispy_forms_tags %}

{% block content %} 
<h1>Crear Noticia</h1>
<hr>    
{% if request.user.is_superuser %}  
    <form action="/registrarNoticia/"  enctype="multipart/form-data" method="POST" id="upload-image-form"> 
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'noticia' %}" type="button" class="btn btn-danger">Cancelar</a>
        <button class="btn btn-success" type="submit">Agregar</button>
    </form>
   {%endif%}

   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   
    <form action="/registrarNoticiaEmpleado/"  enctype="multipart/form-data" method="POST" id="upload-image-form"> 
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'userPage' %}" type="button" class="btn btn-danger">Cancelar</a>
        <button class="btn btn-success" type="submit">Agregar</button>
    </form>
    
{% endblock %}